* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Roboto Mono', monospace;
}


/* Dispositivos chicos menores a 576 */
@media (min-width: 0px) {

  body {
    background-color: grey;
    font-weight: bolder;
  }



form{
  width: 50vw; 
  margin-left: 25vw;
}


  h1, h2{
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    margin: auto;

  }
  h2 {
    color: white;
  }
  
  p{
    margin: 2%;
  }

a{
    text-decoration: none;
  }

  .acomodarMenuHam {
    align-items: flex-end;
  }

  footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  div img {
    width:100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  footer ul li a {
    text-decoration: none;
    display: inline-flex;
    padding: 0px 7px 0px 7px;
  }

  body header nav div a img{
  width: 32px;
  }

  footer ul li a img {
    width: 10vh;
  }

  section div .box img{
    width:100%;
    height: auto;
    border-radius: 10px;
  }

}


/* Dispositivos chicos mayores a 576 y menores a 1024 */
@media (min-width: 576px) {



  .centrarMM {
    width:80%;
    height: auto;
    margin: 0 auto;
    display: block;
  }


  .acercar {
    overflow: hidden;
  }

  .acercar img {
    transition: all 1.5s;
  }

  .acercar:hover img {
    transform: scale(1.5);
  }


  /* Dispositivos chicos mayores a 1024 */
  @media (min-width: 1024px) {
    
 


  }