/* Dispositivos chicos menores a 576 */
@media (min-width: 0px) {
    p {
        margin: 2%;
    }

    a {
        text-decoration: none;
    }

    .acomodarMenuHam {
        align-items: flex-end;
    }

    footer ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    footer ul li a {
        text-decoration: none;
        display: inline-flex;
        padding: 0px 7px 0px 7px;
    }

    body header nav div a img {
        width: 32px;
    }

    footer ul li a img {
        margin-top: 2vh;
        width: 6vh;
    }


    header {
        grid-area: header;
    }

    .divGrid {
        grid-area: divParrafo;
    }

    .sectionGrid {
        grid-area: sectionGrid;
    }

    footer {
        grid-area: footer;
    }

    .grilla {
        display: grid;
        grid-template-areas:
            "header"
            "divParrafo"
            "sectionGrid"
            "footer";
        width: 100%;
    }

    .centrarMM {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
}


/* Dispositivos chicos mayores a 576 y menores a 1024 */
@media (min-width: 576px) {


    .centrarMM {
        width: 80%;
        height: auto;
        margin: 0 auto;
        display: block;
    }


    .acercar {
        overflow: hidden;
    }

    .acercar img {
        transition: all 1.5s;
    }

    .acercar:hover img {
        transform: scale(1.5);
    }
}


/* Dispositivos chicos mayores a 1024 */
@media (min-width: 1024px) {

    .grilla {
        display: grid;
        grid-template-areas:
            "header header"
            "divParrafo"
            "sectionGrid"
            "footer";
        width: 100%;
    }

    .gridImg {
        display: grid;
        grid-template-areas:
            "img img"
            "img img";
        grid-template-columns: 1fr 1fr;
        padding: 10px;
        margin: 25px;
        gap: 25px;
    }



}