* {
    padding: 0;
    margin: 0;
}

body{
    background-color: grey; 
    font-size: medium;
}
h1, h2 {
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: auto;
    margin: auto;
}
h2 {
    color: white;
}